body {
  font-family: sans-serif;
}
header {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  font-family: Chelsea Market;
  color: #9ceeda;
  background-color: #aa6daa;
}
h1 {
  text-align: center;
  font-size: 40px;
  color: #aa6daa;
  font-weight: bold;
  font-family: Chelsea Market;
}
.button {
  font-family: Chelsea Market;
  background: #aa6daa;
  color: #fff;
  padding: 12px 28px;;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

  color: black;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
}


foot {
   text-align: center;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}


.weather-app {
  padding: 20px;
  border: 1px solid #FAFAFA;
  border-radius: 20px;
  background-color: #ddd8e7;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: black;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: black;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 15px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: black;
  font-size: 20px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
